.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
  border-bottom: 2px solid #eeeeee;

  .right-menu {
    display: flex;
    align-items: center;
    min-width: 300px;
    justify-content: flex-end;

    .info-wrap {
      ul {
        display: flex;
        align-items: center;

        li {
          margin: 0 8px;
          max-width: 200px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }
      }
    }

    .button-wrap {
      margin-left: 8px;

      button {
        background-color: transparent;
        border: 1px solid #eeeeee;
        border-radius: 6px;
        cursor: pointer;
        outline: 0;
        width: 80px;
        height: 30px;
        line-height: 30px;
        padding: 0 6px;
      }
    }
  }
}
